// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

$font: "JetbrainsMonoNerdFont";

window.Bar {
    background: transparent;
    color: $fg-color;
    font-weight: bold;

    & > centerbox {
        background: transparent;
        min-height: 32px;
        padding: 0 2px;
    }

    button {
        border-radius: 8px;
        margin: 2px;
    }
}

.container {
    background: $bg-color;
    margin: 2px;
    min-height: 28px;
    border-radius: 8px;
}

.taskbar {
    button {
        padding: 0 4px;
        min-width: 24px;
        background: transparent;
        font-size: 10px;
    }
    button:hover {
        background: initial;
    }
    icon {
        font-size: 2em;
    }
    label {
        margin-left: 3px;
        font-family: $font;
        font-weight: 800;
    }
}
