// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss

@import "./common.scss";

window.Bar {
    background: #ffffff00;

    color: $fg-color;
    font-weight: bold;

    * {
        transition:
            all 200ms ease,
            transform 100ms ease;
    }

    .container {
        padding: 0 2px;
    }

    & > centerbox {
        background: transparent;
        padding: 0 2px;
    }

    image {
        -gtk-icon-size: 12px;
    }

    .gap {
        min-width: 8px;
    }

    .small {
        font-weight: 600;
        font-size: 10px;
    }

    button {
        border-radius: 6px;
        margin: 0px;
        border: none;
        box-shadow: none;
        padding: 0;
        background: transparent;
        font-size: 10px;
    }

    button:hover {
        background: #ffffff11;
    }
    button:active {
        transform: scale(0.9);
    }
    .more-apps {
        min-width: 24px;
        margin: 0 2px;
        image {
            -gtk-icon-size: 14px;
        }
        &:hover {
            background: $overlay-color;
        }
    }
    .pinned-apps {
        .item {
            margin-right: 4px;
            border: none;
            image {
                -gtk-icon-size: 14px;
            }
        }

        .item:last-child {
            margin-right: 0;
        }
    }

    .taskbar {
        button {
            padding: 0 4px;
            min-width: 24px;
        }

        .dock-item {
            margin-right: 1px;
        }
        .dock-item:last-child {
            margin-right: 0px;
        }

        .dock-item:hover,
        .dock-item.focused {
            background: $overlay-color;
        }

        image {
            -gtk-icon-size: 1.8em;
        }

        .item > label {
            margin-left: 4px;
            font-family: $font;
            font-weight: 800;
        }
    }

    .systray {
        image {
            -gtk-icon-size: 1.4em;
        }
        button {
            padding: 0 4px;
            min-width: 8px;
        }
    }

    .time {
        font-size: 11px;
        font-weight: 800;
        font-family: $font;
        padding: 0 8px;
    }

    .start-logo {
        min-width: 24px;
        /* background: #626880; */
        &:hover {
            background: $accent;
        }
    }

    .Workspaces {
        button {
            min-width: 20px;
            font-weight: 500;
            font-family: $font;
        }

        button: hover {
            background: $overlay-color;
        }

        > .focused {
            font-weight: 900;
            background: $accent;
            color: $bg-color;
        }
    }

    .media-control {
        padding: 0 2px;
        & > .player-select-btn {
            padding: 0;
        }

        & .controls {
            font-weight: 400;
            padding: 2px;
            > button {
                min-width: 14px;
                min-height: 0px;
                padding: 0;
                border-radius: 4px;
                image {
                    -gtk-icon-size: 10px;
                }
            }

            > label {
                font-size: 0.8em;
                font-weight: 500;
                padding: 0 4px;
            }

            > .artist-label {
                padding-left: 0px;
            }
        }
    }
    .media-control-player {
        padding: 0 4px;
        font-size: 11px;
        font-weight: 800;

        label {
            text-transform: capitalize;
        }

        .media-control-player-icon {
            -gtk-icon-size: 16px;
            padding-right: 4px;
        }

        > .logo {
        }
    }

    .audio-out {
        padding: 0 4px;
        image {
        }
        .audio-out-label {
            padding: 0 4px;
        }
        .volume {
        }

        .mute-btn {
            margin: 0 2px;
            padding: 0 2px;
        }
    }

    .network-status {
        padding: 0 4px;

        > .wifi {
            & > box > * {
                margin-right: 4px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    .select-media-popup {
        .media-player-item {
            &:first-child {
                margin-top: 4px;
            }

            margin-top: 1px;
            padding: 4px;
            font-size: 14px;
        }
        .media-player-item-icon {
            -gtk-icon-size: 20px;
            margin-right: 5px;
        }
        .media-player-item-title {
            font-weight: bold;
            text-transform: capitalize;
        }

        .section-header {
            &:first-child {
                margin-top: 0px;
            }

            margin-top: 12px;

            font-weight: bold;
        }

        .volume-mixer-item {
            padding: 0 4px;
            .volume-mixer-item-icon {
                -gtk-icon-size: 20px;
                margin-right: 5px;
            }
            label {
                /* min-width: 100px; */
            }
        }
    }
}

window.Bar.Upper {
    background: #ffffff0f;
}

window.Bar.Lower {
    min-height: 36px;

    .container {
        background: $bg-color;
        border: 1px solid $border-color;
        margin: 2px;
        min-height: 20px;
        border-radius: 8px;
        padding: 2px;
    }

    .pinned-apps {
        /* button {
            padding: 0;
        } */
        .item {
            min-width: 24px;

            image {
                -gtk-icon-size: 2em;
            }
        }
    }

    .taskbar {
        image {
            -gtk-icon-size: 2em;
        }
    }
}
