// https://gitlab.gnome.org/GNOME/gtk/-/blob/gtk-3-24/gtk/theme/Adwaita/_colors-public.scss
$fg-color: #{"@theme_fg_color"};
$bg-color: #{"@theme_bg_color"};

$accent: #f5e0dc;

$font: "JetbrainsMonoNerdFont";

window.Bar {
    background: #ffffff04;
    color: $fg-color;
    font-weight: bold;

    & > centerbox {
        background: transparent;
        min-height: 24px;
        padding: 0 2px;
    }

    button {
        border-radius: 6px;
        margin: 0px;
    }
}

.gap {
    min-width: 8px;
}

.small {
    font-weight: 600;
    font-size: 10px;
}

button {
    padding: 0;
    background: transparent;
    font-size: 10px;
}

button:hover {
    background: initial;
}

.container {
    background: $bg-color;
    margin: 2px;
    min-height: 20px;
    border-radius: 8px;
    padding: 2px;
}

.taskbar {
    button {
        padding: 0 4px;
        min-width: 24px;
    }
    button:hover {
        background: initial;
    }

    icon {
        font-size: 2em;
    }

    label {
        margin-left: 3px;
        font-family: $font;
        font-weight: 800;
    }
}

.systray {
    icon {
        font-size: 1.4em;
    }
    button {
        padding: 0 4px;
        min-width: 8px;
    }
}

.time {
    font-size: 11px;
    font-weight: 800;
    font-family: $font;
    padding: 0 8px;
}

.start-logo {
    min-width: 24px;
    background: #626880;
    &:hover {
        background: $accent;
    }
}

.Workspaces {
    button {
        min-width: 20px;
        font-weight: 500;
        font-family: $font;
    }

    > .focused {
        font-weight: 900;
        background: $accent;
        color: $bg-color;
    }
}

.media-control {
    & > .player-select-btn {
        padding: 0;
    }

    & .controls {
        font-weight: 400;

        > label {
            padding: 0 4px;
        }
    }
}
.media-control-player {
    padding: 0 4px;
    font-size: 11px;
    font-weight: 800;
}

.audio-out {
    .audio-out-label,
    .volume {
        padding: 0 4px;
    }

    icon {
        font-size: 1.2em;
    }
    .mute-btn {
        margin: 0 2px;
        padding: 0 2px;
    }
}
